streamlit
openai
pinecone-client
python-dotenv
python-docx
PyMuPDF
pdfplumber
python-docx-comments
langchain
langchain-community
langchain-text-splitters
numpy
pandas
tqdm
lxml
Pillow
python-dateutil
colorlog
tiktoken  
faiss-cpu 
typing-extensions
pydantic